<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbar', {links: links}) %>
    <h1>Add a New Message</h1>
    <form method="POST" action="/new">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
      <br />
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <br />
      <button type="submit">Add Message</button>
    </form>
  </body>
</html>
